<%
var args = _.extend({
  id        : "element-selector",
  elements  : sails.services.elements.elements,
  value     : [],
  noneTitle : "Filter by element..."
}, data || {});
%>

<select id="<%- args.id %>" multiple title="<%- args.noneTitle %>">
  <% _.each(args.elements, function(elem, key){ %>
    <option value="<%- key %>">
      <%- elem.icon + " " + elem.name.charAt(0).toUpperCase() + elem.name.slice(1) %>
    </option>
  <% }) %>
</select>