<div class="row">

  <div class="jumbotron">
	  <h1>Wellcome to Dragonlance</h1>
	  <p>The best K&D guild ever!</p>
	  <h4>
		  <i class="fa fa-github-alt"></i>
		  <a target="_blank" href="https://github.com/Akeri/kddl">Track project's changelog and issues on Github</a>
		  <small>current version: <%- sails.config.kddl.appVersion %></small>
		</h4>
	</div>

  <div class="col-xs-12 col-sm-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <span class="glyphicon glyphicon-bullhorn"></span>
          <span style="margin-left:10px;">Update v0.19</span>
        </h4>
      </div>
      <div class="panel-body">
        Dear ppl of Dragonlance, you can now set your <strong>avatar</strong>
      </div>
      <div class="panel-footer">
        <span class="glyphicon glyphicon-calendar"></span>
        <small>Published at <strong>2014-08-01 14:16 CEST</strong></small>
      </div>
    </div>
    
  </div>
  
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default panel-body">
      <h1>
        This website is under development
        <small>more features are coming</small>
      </h1>
    </div>
  </div>

</div>

