<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default panel-body">
      <h1>
        Welcome to Dragonlance!
        <small>the best K&D guild ever</small>
      </h1>
    </div>
  </div>
  
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default panel-body">
      <h1>
        This website is under development
        <small>more features are coming</small>
      </h1>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Current features</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>User accounts</li>
          <li>Multiple players per account</li>
          <li>Armor knowledge (filterable and sortable)</li>
          <li>Armor stealer from Wikia (admins)</li>
          <li>Users can edit their profile (info and players)</li>
          <li>Users can manage their players' armors</li>
          <li>User management (admins)</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Potential features</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>List of guilds</li>
          <li>View of players in guild</li>
          <li>Intel module: Users of Dragonlance could create profiles of rival players and index them by guild</li>
          <li>Upload custom avatar</li>
          <li>War historical (scores, ranks)</li>
          <li>Automated roll call assignments in real time</li>
          <li>IA to figure the best set against a rival player</li>
          <li>Manual management of armors</li>
          <li>Forum and/or comments</li>
          <li>See fused armors</li>
          <li>Sort and filter owned armors</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
	  <div class="panel panel-default panel-body">
	    <img class="img-responsive center-block" src="/linker/images/dragonlance.jpg" />
	  </div>
  </div>

</div>